page-register {
  .botao{
    border-radius: 30px !important;
    color: white;
    background-color: #222;
  }
  .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center
  }
  .btProximo{
    align-self: auto;

  }
  .titulo{
    text-align: center;
    font-weight: bold;
  }
  .fonteMenor{
    font-size: 75%;
  }
  .error-message
  {
    color: red;
  }
  .centralizarbotao{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
}
