<ion-header>

  <ion-navbar>
    <ion-title>Meu Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item *ngIf="fotoPerfil">
    <ion-thumbnail item-start>
      <img src="{{ facebook.fotoUrl }}">
    </ion-thumbnail>
    <h2>{{ facebook.nome }}</h2>
    <p>{{email}}</p>
  </ion-item>
  <ion-item *ngIf="!fotoPerfil">
      <ion-thumbnail item-start>
        <img src="assets/imgs/fotoPerfil.png">
      </ion-thumbnail>
      <h2>Nutri</h2>
      <p>{{email}}</p>
  </ion-item>
</ion-content>
