page-anamnese {
  .cardfont{
    font-size: 100em;
  }
  .fontlabel{
    font-size: 15px;
  }
  .cardButton{
    border: 0;
  }
  .alert{
    background-color: white;
    button{
        color: dark;
    }
}
}

